label,
input {
  display: flex;
  flex-direction: column;
}

input {
  display: block;
  margin: 0 auto;
}

html,
body, main {
  height: 100%;
  background-color: rgb(248, 249, 250);
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#backgroundLogin {
 display: flex;
 flex-direction: column;
 
}

#alertContainer{
  display: flex;
  flex-direction: column;
  width:100%;
  position:fixed;
  top: 40px;
  left: 0px;
  z-index: 9999;
  border-radius: 0px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
} 

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button {
  border-color: transparent;
  background: none;
  padding: 0;
}

footer{
  background-color: rgb(248, 249, 250);
}
